 .body { 
   background-color: black; 
   padding-left: 40px; 
   background-image: url("../images/Vecteezy-17-9330-05.jpg");
   width: 600px;
   height: 600px;
 } 


/* .body {
  background-image:  'public/images/Vecteezy-17-9330-05.jpg';
} */



#search {
  margin-left: 600px;
  margin-top: 350px;
}

.navbar {
  width: 96%;
}

#home{
  padding-left: 950px;
}

#mylist {
  padding-left: 60px;
}



.bd-example {
  margin:0px 0px 10px 0px;
}

#resultCard {
  width: 350px;
  margin-left: 0px;
}

h4 {
  color:white;
}

.fas {
  size: 7x;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;  
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
}



