.body {
  background-color: black;
  padding-left: 40px;
}

#search {
  margin-left: 600px;
  margin-top: 350px;
}

.navbar {
  width: 96%;
}

#home{
  padding-left: 950px;
}

#mylist {
  padding-left: 60px;
}



.bd-example {
  margin:0px 0px 10px 0px;
}

#resultCard {
  width: 350px;
  margin-left: 0px;
}

h4 {
  color:white;
}

.fas {
  size: 7x;
}





